[submodule "docs/tensorflow-introduction"]
	path = docs/tensorflow-introduction
	url = https://github.com/CosmoStat/Tutorials.git
	branch = tensorflow-tutorial
[submodule "docs/docker"]
	path = docs/docker
	url = https://github.com/CosmoStat/Tutorials.git
	branch = docker
[submodule "docs/presentation_tips"]
	path = docs/presentation_tips
	url = https://github.com/CosmoStat/Tutorials.git
	branch = presentations
